.root *{
  padding: 10px;
  background-color: #ff272745;
}

.App {
  text-align: center;
}
section{
  min-height: 100vmin;

}
/* Nav */

nav {
  display:flex;
  flex-direction: row;

}

.Menu { 
  display: flex;
  justify-content: center;
  align-items: center;
}

.Menu a {
  color:#F82B4E;
  font-size: 24px;
  font-family: Oxsanium;
  padding: 10px;

}

.App-logo {
  height: 60px;
  pointer-events: none;
  padding: 10px;
  
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #120101; */
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  padding: 0 20px;
}

.App-link {
  color: #ff2727;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
